@media(max-width: 1408px) {
    h1 {
        text-align: center;
        padding: 10px;
    }


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    background-color: black;
}

 }
 