.searchInputs {
   margin-top: 10px;
  display:flex;
align-items: center; 
    /* padding-right: 10px;
    align-items: center; */

}


.searchInputs input { 
  font-size: 16px;
  height: 50px;
  width: 250px;
  display: flex;
  text-align: left;
  text-indent: 15px;

}

.searchIcon {
  height: 60px;
  width: 50px;
  display: grid;
  place-items: center;

}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  margin-top: 2px;
  width: 250px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow:scroll;
  overflow-y: hidden;
   position: fixed;
   z-index: 10;
   border-radius: 15px;
   border-color: black;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  align-items: center;
  color: black;
}
.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

.dataItem:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}
.fa-search{
      color:green

}
